* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
}

.group > div {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
}

input {
  display: none;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.box {
  width: 20px;
  height: 20px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.box::before, .box::after {
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: yellowgreen;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}

label:hover {
  color: yellowgreen;
}

.box:hover, label:hover .box {
  border-color: yellowgreen;
}

input:checked ~ label .box::before {
  transform: scale(2.5);
  opacity: 0.3;
}

input:checked ~ label .box::after {
  transform: scale(0.6);
  opacity: 1;
}