* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  cursor: pointer;
  top: 0;
  transition: 0.5s ease-in-out;
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 0 20px;
  width: 200px;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 2px 15px 2px whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card:hover {
  top: -20px;
}

.name {
  color: blueviolet;
  font-size: 32px;
  text-align: center;
}

.desc {
  color: grey;
  font-size: 14px;
  text-align: center;
}

.price {
  font-weight: 900;
  text-align: center;
  color: purple;
}

.price span:nth-child(2) {
  font-size: 50px;
}

.period {
  display: flex;
  justify-content: center;
  align-items: center;
}

.period p {
  color: grey;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  width: 60%;
  border-bottom: 2px solid grey;
}

.info p {
  text-align: center;
  color: gray;
  margin-top: 10px;
}

.btn-group {
  text-align: center;
}

button {
  background-color: blueviolet;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.card > div {
  margin-top: 10px;
}