:root {
  --pi: 3.14159265359;
  --a1: 60;
  --a2: 25;
  --a3: 10;
  --a4: 5;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img.jpg");
  background-size: cover;
}

.container {
  width: 800px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  position: absolute;
  font-size: 80px;
  font-weight: 800;
  color: white;
}

svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes percent1 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a1) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a1) / 100));
  }
}

@keyframes percent2 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a2) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a2) / 100));
  }
}

@keyframes percent3 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a3) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a3) / 100));
  }
}

@keyframes percent4 {
  to {
    stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a4) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a4) / 100));
  }
}

.donut {
  transform-origin: center center;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: 0;
  cursor: pointer;
}

.donut:nth-child(1) {
  transform: rotateZ(-90deg);
  animation: percent1 1s ease-in-out forwards;
}

.donut:nth-child(2) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100)));
  animation: percent2 1s ease-in-out forwards;
}

.donut:nth-child(3) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100)));
  animation: percent3 1s ease-in-out forwards;
}

.donut:nth-child(4) {
  transform: rotateZ(calc(-90deg  + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100) + calc(var(--a3) * 360deg / 100)));
  animation: percent4 1s ease-in-out forwards;
}

.donut:hover {
  stroke-width: 100;
}