* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img.jpg");
  background-size: cover;
}

div {
  font-size: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

span {
  position: relative;
  color: darkblue;
}

span::before {
  content: attr(data-text);
  color: darkcyan;
  position: absolute;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: 0.5s ease-in-out;
}

span::after {
  left: 0;
  content: attr(data-text);
  color: darkmagenta;
  position: absolute;
  transform-origin: left;
  transform: rotateY(0deg);
  transition: 0.5s ease-in-out;
}

div:hover span::after {
  transform: rotateY(-60deg) skewY(15deg);
}

div:hover span::before {
  transform: rotateY(-30deg) skewY(15deg);
}