@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --pi: 3.14159265359;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img.jpg");
  background-size: cover;
}

.container {
  width: 800px;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  font-size: 150px;
  font-weight: 800;
  color: yellow;
}

svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_animation {
  transform-origin: center center;
  transform: rotateZ(90deg) rotateY(180deg);
  stroke-dasharray: calc(2 * var(--pi) * 300);
  stroke-dashoffset: calc(2 * var(--pi) * 300);
  transition: 0.5s ease-in-out;
}

.rating {
  position: absolute;
  bottom: -30px;
}

input {
  display: none;
}

label:before {
  margin: 5px;
  font-size: 60px;
  font-family: "FontAwesome";
  display: inline-block;
  content: "\f005";
}

.half::before {
  content: "\f089";
  position: absolute;
}

label {
  color: #ddd;
  float: right;
}

input:checked ~ label, 
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: yellow;  }